<div class="col-md-5 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo Pago</h3>
        </div>
        <div class="card-body">
            <form action="/payments/new-payment" id="payments_form" method="POST">
                <div class="form-group">
                    <input type="text" class="from-control" name="name" placeholder="Nombre" autofocus>
                    <button class="btn btn-dark float-right mt-2" onclick="add_more_student()">Añadir +</button>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="age" placeholder="Edad">
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="level" placeholder="Nivel 1 si es nueva alumna">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>