<div class="col-md-5 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo Estudiante</h3>
        </div>
        <div class="card-body">
            <form action="/student/new-student" method="POST">
               <div class="form-group">
                    <input type="text" class="from-control" name="name" placeholder="Nombre" autofocus>
               </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="lastname" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="age" placeholder="Edad">
                </div>
                 <div class="form-group">
                    <input type="text" class="from-control" name="level" placeholder="Nivel 1 si es nueva alumna">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>