<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Restaurant</h3>
    </div>
    <div class="card-body">
      <form action="/restaurant/comentario/calificarya/{{ratings._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" name="restaurant" class="form-control" value="{{ratings.restaurant}}" />
        </div>
        <div class="form-group">
          <input type="text" name="score" class="form-control" value="{{ratings.score}}" />
        </div>
        <div class="form-group">
          <label>{{ratings.comentario}}</label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>