<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo Restaurante</h3>
        </div>
        <div class="card-body">
            <form action="/restaurant/new-restaurant" method="POST">
               <div class="form-group">
                    <input type="text" class="from-control" name="name" placeholder="Nombre" autofocus>
               </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="location" placeholder="Ubicacion">
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="speciality" placeholder="Especialidad">
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="score" placeholder="Puntuacion">
                </div>
                <div class="form-group">
                    <label for="Rango" class="form-label mt-4">Rango de Precios</label>
                            <div class="radio inline">
                                <input type="radio" id="radio-4" name="precio" value="Alto">
                                <label for="radio-4" class="radio-label">Alto</label>
                            </div>
                             <div class="radio inline">
                                <input type="radio" id="radio-4" name="precio" value="Medio">
                                <label for="radio-4" class="radio-label">Medio</label>
                            </div>
                             <div class="radio inline">
                                <input type="radio" id="radio-4" name="precio" value="Bajo">
                                <label for="radio-4" class="radio-label">Bajo</label>
                            </div>
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="latitud" placeholder="Latitud">
                </div>
                <div class="form-group">
                    <input type="text" class="from-control" name="longitud" placeholder="Longitud">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>